
@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<div class="jumbotron">
  <h3>Restaurant Search</h3>
</div>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})

  <input type="submit" value="Search" class="btn btn-dark"/>
}
<br>
<p class="btn btn-dark">@Html.ActionLink("See all Cuisine options", "Index", "Cuisines")</p>
<p class="btn btn-dark">@Html.ActionLink("See all Restaurants", "Index", "Restaurants")</p>