@{
  Layout = "_Layout";
}

<h1>Welcome to Your Restaurant List!</h1>

<p class="btn btn-dark btn-block">@Html.ActionLink("See all Restaurants", "Index", "Restaurants")</p> 
<p class="btn btn-dark btn-block">@Html.ActionLink("See all Cuisines", "Index", "Cuisines")</p>
<p class="btn btn-dark btn-block">@Html.ActionLink("See all Reviews", "Index", "Reviews")</p>
